#Ignorar dependencias de Node

/node_modules

#Ignorar archivos de audio mp3 en la carpeta audios/bitocara
public/audios/bitacora/*.mp3

#Ignorar el env
.env

#Archivos de sistema y logs

.DS_Store Thumbs.db npm-debug.log*

#Caché de tailwind
.tailwindcss