<%- include('partials/header') %>

  <body class="bg-black text-white font-sans">

    <%- include('partials/navbar') %>

      <!-- Secci칩n de bienvenida -->
      <section id="inicio" class="start flex items-center justify-center h-[80vh] text-center">
        <div class="glassmorphism">
          <h2 class="text-4xl md:text-7xl font-serif text-rojo mb-6">Bienvenida, mi Dianita 仇벒잺</h2>
          <p class="text-lg md:text-xl max-w-sm md:max-w-xl mx-auto text-white/80">Este lugar es solo nuestro. Aqu칤 guardo todo lo que hemos
            vivido, para que lo revivas cuando quieras.</p>
        </div>

      </section>

      <div id="flecha" class="start ">
        <p>&#129051;</p>
      </div>

      <section id="aniversario" class="py-8 text-center">
        <p class="text-white/70 text-lg start p-20">
          춰Felicidades por nuestro a침o juntos! 游봃 Que sigan los momentos maravillosos.
        </p>
      </section>

      <section id="lineaTiempo" class="start">
        <h2 class="text-6xl font-serif text-rojo mb-6 text-center">Nuestra historia</h2>
        <div class="text-xs md:text-lg">
          <ul>
            <li>
              <h3>04 de Octubre, 2024</h3>
              <p>El d칤a que todo comenz칩. 9:46 p.m fue la hora en la que decid칤 mandarse porfin ese mensaje. Fuimos poco
                a
                poco conociendonos durante el mes, creando un lazo que, inconcientemente, ser칤a irrompible.</p>
            </li>
            <li>
              <h3>24 de Octubre, 2024</h3>
              <p>쯊e acuerdas qu칠 pas칩 este d칤a?, fue el inicio de algo que se volvio una necesidad. Era noche, playa,
                en mi carro sonaba
                "Dime si te acuerdas" de Bad Bunny, y comenz칩 nuestro primero beso.</p>
            </li>
            <li>
              <h3>27 de Octubre, 2024</h3>
              <p>Las primeras flores. Paso el dianafest 2024!, a pocos segundos de ser tu cumplea침os, te di unas flores
                como obsequio
                , las cuales yo creo que si te gustaron mucho.
              </p>
            </li>
            <li>
              <h3><b>21 de Noviembre, 2024</b></h3>
              <p>El inicio de nosotros como pareja. Recuerdo ese dia con tanto cari침o, desde que recog칤 el ramo, te
                escrib칤 la carta, prepare todo para que sea perfecto.
                La verdad no estaba nervioso el momento que te ped칤 ser mi novia, la conexi칩n que se fue construyendo
                desde los dias anteriores era tan fuerte que no habia duda.
                Desde ese d칤a hasta hoy, hemos cambiado mucho como novios y como seres humanos.
                Hemos aprendido muchas cosas con las experiencias que hemos vivido, y me alegra que sigamos aprendiendo
                juntos.
                Estoy muy agradecido de ser tu novio Dianita. Gracias por decir <b>S칤</b> aquella tarde en la playa,
                desde ah칤, te he amado con toda mi alma.
              </p>
            </li>
            <li>
              <h3>7 de Diciembre, 2024</h3>
              <p>NSQK!, nuestra primera salida de la ciudad solosss (y el alexis jeje), creeme que me encant칩 ir a ese
                concierto juntos, que aunque en aquel tiempo no me gustaba mucho
                nsqk, me encant칩 ver tu ilusi칩n de verlo y compartir ese momento. Estuvo muy padre el concierto e ir칤a a
                miles m치s junto a t칤.
                (Desde esa noche, no dejo de escuchar "Nadie M치s!")
              </p>
            </li>
            <li>
              <h3>25 de Diciembre, 2024 y 1 de Enero, 2025</h3>
              <p>Nuestras primeras fiestas juntos! La pasamos muy padre jugando en nochebuena junto a mi familia, ya
                para ese tiempo los conoc칤as, pero creo que esa noche
                los conociste un poco m치s como son de payasos jejeje. Y a침o nuevo la verdad lo recuerdo con mucho
                cari침o, la pasamos padre en tu casita con toda tu familia. De ah칤
                nos fuimos y paso aquella historia en la lomita. Los regalos que me diste esa vez me hicieron darme
                cuenta que tu cuando se trata de gastar en m칤, no tienes limites.
                Te adoro mi ni침a.
              </p>
            </li>
            <li>
              <h3>14 de Febrero, 2025</h3>
              <p>Nuestro primer San Valentin amoooor. Creo que fue uno muy especial, y en lo personal, jamas me habia
                emocionado por un San Valentin, pero desde ese a침o cambio.
                Me encant칩 los regalos que me diste chiquita, fueron increibles. El detallazo de venir y decorar mi
                cuarto fue 11/10, JAMAS me habian hecho algo asi, y agradezco que fuiste la primera y unica
                , me encanto tanto las notitas y decoraci칩n que lo sigo conservando jejeje. Siento que la cena estuvo
                muy bonita. En general ese d칤a todo el rato respire un ambiente de amor, cari침o
                y agradecimiento por ambos lados. Gracias por ese d칤a tan especial.
              </p>
            </li>
            <li>
              <h3>14 de Mayo, 2025</h3>
              <p>Mi pumple :o. Amor, cuando te dije que hiciste el mejor cumplea침os de mi vida, es totalmente enserio.
                Los ultimos cumples la verdad, no la pase tan padre, por eso me notaste
                sin animos de celebrarlo y algo estresado, pero llegaste t칰 y le diste un giro de 360 grados. He estado
                muy agradecido por todo el amor que me diste en mi cumplea침os.
                Mil y una gracias por todo el cambio que trajiste a mi vida.
              </p>
            </li>
            <li>
              <h3>Junio-Agosto, 2025</h3>
              <p>Fue una 칠poca dificil para los dos, y te queria dar las gracias por el aguante que tuviste de verme
                todos los dias de un malhumor, y de a칰n as칤, decidir amarme y ser paciente
                conmigo. Aunque no creas que fue mucho, me ayudaste mucho a seguir y seguir y fuiste los brazos en los
                que muchas veces busque refugio. Otra raz칩n por las que te amo con
                todo mi coraz칩n.
              </p>
            </li>
            <li>
              <h3>23-27 Octubre, 2025</h3>
              <p>Guadalajaraaaaa. Unos de los mejores d칤as de mi vida. Me encant칩 haber podido regalarte tu primer viaje
                de regalito de pumple. Se not칩 que te fascino tanto como a mi me fascinan los viajes.
                Espero que este sea el primero de miles que hagamos. Que decir de este viaje, miles de cosas que
                vivimos, todo para que pases un muy bonito cumplea침os. FELIZ 21 DIANITA 游눗
              </p>
            </li>
            <li>
              <h3>Continuara</h3>
              <p>...
              </p>
            </li>
          </ul>
          <div class="px-16 pt-8">
            <h3>Y los que faltan...</h3>
            <p>Estos fueron dias puntuales sobre todo lo que hicimos en el a침o, tu sabes que hicimos miles de cosas m치s,
              muchas cenas, visitas, idas a hermosillo, risas
              , salidas solos, salidas con amigos, cada 21 de mes. Cada d칤a a tu lado ha sido de lo m치s especial de mi
              vida, ojal치 y seguir recolectando m치s.
            </p>
          </div>
        </div>
      </section>

      <section id="contadorAniversario" class="start p-20">
        <h2 class="text-6xl font-serif text-rojo mb-6 text-center">Proximo Aniversario</h2>
        <div id="contador" class="flex justify-center gap-8 text-center text-white/80">
          <div>
            <span id="dias" class="text-5xl font-bold">0</span>
            <p>D칤as</p>
          </div>
          <div>
            <span id="horas" class="text-5xl font-bold">0</span>
            <p>Horas</p>
          </div>
          <div>
            <span id="minutos" class="text-5xl font-bold">0</span>
            <p>Minutos</p>
          </div>
          <div>
            <span id="segundos" class="text-5xl font-bold">0</span>
            <p>Segundos</p>
          </div>
        </div>
      </section>

      <!-- Audio + controles -->
      <audio id="musica" preload="auto" autoplay></audio>
      <button id="btnMusica"
        class="fixed bottom-6 right-6 w-16 h-16 rounded-full flex items-center justify-center cursor-pointer shadow-lg">
        <img src="/images/Vinilo.png" alt="Icono de m칰sica" class="w-10 h-10">
      </button>


      <!-- Canvas corazones flotantes -->
      <canvas id="particles" class="fixed inset-0 -z-10 pointer-events-none"></canvas>

      <!-- Scripts -->
      <script src="https://cdn.jsdelivr.net/npm/tsparticles@2/tsparticles.bundle.min.js"></script>
      <script src="/js/corazones.js"></script>
      <script src="/js/musica.js"></script>
      <script src="/js/ocultarNavbar.js"></script>
      <script src="/js/animacionInicio.js"></script>
      <script src="/js/contador.js"></script>
  </body>

  <%- include('partials/footer') %>