<%- include('partials/header') %>
<body>
  <div class="content-center text-center">
    <h1 class="text-rojo text-4xl md:text-7xl font-serif m-16">Siempre Nosotros <3</h1>
  </div>

  <div id="loginBox" class="md:w-1/3">
    <h1 class="text-3xl md:text-5xl">Iniciar Sesión</h1>
    <form method="POST" action="/login">
      <div class="flex flex-col gap-5 mb-5">
        <input name="user" placeholder="Usuario" required>
        <input name="pass" type="password" placeholder="Contraseña" required>
      </div>
      <button type="submit">Entrar</button>
    </form>
  </div>

  <canvas id="particles"></canvas>

  <script src="https://cdn.jsdelivr.net/npm/tsparticles@2/tsparticles.bundle.min.js"></script>
  <script src="/js/corazones.js"></script>
</body>

<%- include('partials/footer') %>
