html,
body {
  scroll-behavior: smooth;
  background: transparent;
  min-height: 100vh;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  min-height: 50px;
}

.fade {
  transition: transform 0.5s ease, opacity 0.5s ease;
  will-change: transform, opacity;
}

.fade-out {
  transform: translateY(-100%);
  opacity: 0;
}

.fade-in {
  transform: translateY(0);
  opacity: 1;
}

.start {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}

.start.show {
  opacity: 1;
  transform: translateY(0);
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  border: 2px solid rgba(255, 255, 255, 0.137);
  padding: 1%;
  position: relative;
  z-index: -1;
}

/* Hero section */
#inicio {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#btnMusica {
  background: black;
  color: red;
  font-size: 1.5rem;
  border: 1px solid rgb(0, 0, 0);
  transition: transform 0.3s ease;
}

#btnMusica.playing {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Contenedor principal de la línea de tiempo */
#lineaTiempo ul {
  position: relative;
  padding: 20px 0;
}

/* Clearfix para contener los floats */
#lineaTiempo ul::after {
  content: '';
  display: table;
  clear: both;
}

/* La línea vertical central */
#lineaTiempo ul::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  background-color: rgb(82, 82, 82);
}

/* Estilos para TODOS los eventos de la lista */
#lineaTiempo li {
  position: relative;
  width: 50%;
  box-sizing: border-box;
  /* Importante para que el padding no afecte el width */
  margin-bottom: 50px;
}

/* Estilos para TODOS los circulitos */
#lineaTiempo li::before {
  content: '';
  position: absolute;
  background-color: rgb(255, 1, 1);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transform: translateX(-50%);
}

/* --- REGLAS ESPECÍFICAS --- */

/* Eventos IMPARES (Izquierda) */
#lineaTiempo li:nth-child(odd) {
  text-align: right;
  padding-right: 30px;
  padding-left: 70px;
  clear: both;
  /* <-- LA SOLUCIÓN CLAVE */
}

/* Círculo de los eventos IMPARES */
#lineaTiempo li:nth-child(odd)::before {
  left: 100%;
}

/* Eventos PARES (Derecha) */
#lineaTiempo li:nth-child(even) {
  float: right;
  text-align: left;
  padding-left: 30px;
  padding-right: 70px;
}

/* Círculo de los eventos PARES */
#lineaTiempo li:nth-child(even)::before {
  left: 0%;
}

#flecha>p {
  font-size: 100px;
  text-align: center;
}